<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li *ngFor="let process of processDefines">
      <ul class="process-item">
          <li><span>{{process.name}}-{{process.version}}</span></li>
          <li><button (click)="showProcessSatus(process.id)">流程状态图</button></li>
          <li><button (click)="showProcessDefine(process.id)">流程定义</button></li>
          <li><button (click)="deleteProcess(process.id)">删除</button></li>
      </ul>
  </li>
</ul>
<div *ngIf="diagramImg" class="diagramImg" [innerHTML]="diagramImg"></div>
<app-diagram [url]="diagramUrl" (saveSuccess)="refresh()"></app-diagram>
